@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  body,
  html,
  :root {
    height: 100%;
    scroll-behavior: smooth;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#FBFAF9] dark:bg-[#1A202C] text-[#343434] dark:text-[#E5E7EB] font-sans antialiased;
  }
}

/* Custom Background */

@layer components {
  .bg-custom {
    @apply bg-[#FBFAF9] dark:bg-[#1A202C];
  }

  .container-width {
    @apply lg:max-w-[1230px] w-full mx-auto px-4;
  }
}

/* Not Found */
.not__found--container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
}

.not__found--content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}
.not__found--content h1 {
  font-weight: 900;
  letter-spacing: 20px;
  background: url('/images/bg.jpg') center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Not Found */

/* WhatsApp Bubble */
.bubble {
  position: relative;
  background: #ffffff;
  color: #000;
  border-radius: 0 20px 20px 20px;
  padding: 10px 12px;
  height: 70px;
  width: 75%;
}
.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #ffffff;
  border-width: 1px 25px 18px 0;
  top: 21%;
  left: -24px;
  margin-top: -15px;
}

/* WhatsApp Bubble */
